<?xml version="1.0"?>
<!--
/**
 * @category  Custom
 * @package   Custom_Pixel
 * @author    Custom
 * @copyright Copyright (c) 2017 Custom (http://www.emmanuelajoku.dev)
 * @license   http://opensource.org/licenses/osl-3.0.php Open Software License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Custom_Pixel" setup_version="1.0.0"/>
</config>
